[submodule "themes/arcana"]
	path = themes/arcana
	url = https://github.com/half-duplex/hugo-arcana
[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery
